.container {
  height: 600px;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .imageBanner {
    background-image: url("/images/about-section-pic4.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    height: 700px;
    width: 100%;
  }
}
